# Seguridad
JWT_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Mercado Pago
MP_ACCESS_TOKEN=
MP_WEBHOOK_SECRET=

# Base de datos
DB_PASSWORD=

# Email
SPRING_MAIL_PASSWORD=

# Ngrok
NGROK_AUTH_TOKEN=